body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    list-style: none;
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 20px gray;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header .list_item{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.header .list_item:active{
    color: white;
    font-weight: 700;
}
.header .list_item:hover{
    color: rgb(255, 255, 255);
}